mixin ambassadors
	section.ambassadors#ambassadors
		div.container__ambassadors.container.container__ambassadors--first
			h2 ambassadors
		div.container__ambassadors.container.container__ambassadors--second

			div.ambassadors__rectangle
				div.ambassadors__rectangle__inner
			img.ambassadors-circle-first(src='img/ambassadors/ambassadors-circle.png')
			img.ambassadors-circle-second(src='img/ambassadors/ambassadors-circle.png')

			div.container__ambassadors__half.container__ambassadors__half--left
				div.ambassadors-item
					img.ambassadors-item__img(src='img/ambassadors/ambassadors-image.png')
			div.container__ambassadors__half.container__ambassadors__half--right

				div.ambassadors-item.ambassadors-item--description
					h3.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500') Для реализации этих идей мы ищем Амбассадоров по всему миру, которые смогут:
					ul.ambassadors-item__list.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
						li.ambassadors-item__list__item Представлять интересы Республики в своем городе
						li.ambassadors-item__list__item Возглавить кампанию по сбору средств
						li.ambassadors-item__list__item Курировать процесс строительства и открытия памятников
						li.ambassadors-item__list__item Открыть посольство в своем городе и выдавать гражданство
						li.ambassadors-item__list__item Получать часть прибыли от совершения представительских функций
						li.ambassadors-item__list__item Занять руководящую должность в органах управления и принимать участие в выборах в Конгресс
