mixin become-ambassadors

	section.become-ambassadors#become-ambassadors
		div.container__become-ambassadors.container
			h2.title-whte.become-ambassadors__title КАК СТАТЬ AMBASSADOR?
			div.hexagon-container
				div.hexagon-container__third
				div.hexagon-container__first
					div.hexagon-container__first-inner.hexagon-inner

						div.hexagon-inner__text-white Купить
							br
							| Satoshi Tokens
							br
							| на сумму
						div.hexagon-inner__text-color 1 BTC
				div.hexagon-container__second
					div.hexagon-container__first-inner.hexagon-inner
						div.hexagon-inner__text-color Или
						div.hexagon-inner__text-white привлечь
							br
							|Крипто-Ангела
						div.hexagon-inner__text-color 1 BTC
				div.hexagon-container__fourth

				div.hexagon-container__fivth
			div.hexagon-container
				div.hexagon-container__description
					|Данный взнос дает право на открытие Посольства в городе, который представляет
					span Ambassador
					|и гарантированную установку виртуального памятника.