mixin benefit-ambassadors
	section.benefit-ambassadors#benefit-ambassadors
		div.container__benefit-ambassadors.container
			h2 ВЫГОДЫ AMBASSADORS
			div.container__benefit-ambassadors__inner
				div.container__benefit-ambassadors__inner__half.container__benefit-ambassadors__inner__half--left
					div.benefit-ambassadors__inner-img
						div.benefit-ambassadors__inner-line.benefit-ambassadors__inner-line--first
						div.benefit-ambassadors__inner-line.benefit-ambassadors__inner-line--second
						div.benefit-ambassadors__inner-line.benefit-ambassadors__inner-line--third
						div.benefit-ambassadors__inner-line.benefit-ambassadors__inner-line--fourth
						div.benefit-ambassadors__inner-line.benefit-ambassadors__inner-line--fivth
						div.benefit-ambassadors__inner-line.benefit-ambassadors__inner-line--six
						img(src='img/benefit-ambassador/benefit-ambassador-item.png')
				div.container__benefit-ambassadors__inner__half.container__benefit-ambassadors__inner__half--right
					div.benefit-ambassadors__inner-text
						h3.benefit-ambassadors__title.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='0') Амбассадор получает выгоды от представления интересов Республики в следующем размере:
						ul.benefit-ambassadors__list
							li.benefit-ambassadors__list__item.benefit-ambassadors__list__item--first
								div.benefits-number 1
								div.benefits-number-text.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
									|Если Амбассадор привлекает бэкера на pre-ico стадии - вознаграждение составляет
									span 10%
									|от количества токенов, которые получил бэкер
							li.benefit-ambassadors__list__item.benefit-ambassadors__list__item--second
								div.benefits-number 2
								div.benefits-number-text.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='250')
									| В конце ICO кампании Амбассадор получает пропорциональную часть от
									span 5%
									| токенов, предусмотренных как баунти для Амбассадоров. Пропорция рассчитывается как доля города по сбору средств к общей сумме собранных денег

							li.benefit-ambassadors__list__item.benefit-ambassadors__list__item--third
								div.benefits-number 3
								div.benefits-number-text.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='350')
									| Также, в процессе деятельности республики Амбассадору начисляется
									span 10%
									| от стоимости проданных паспортов Республики


