mixin budget
	section.budget#budget
		h2.budget__title  БЮДЖЕТ
		h3.budget__sub-title БЮДЖЕТ РЕСПУБЛИКИ ФОРМИРУЕТСЯ ИЗ:
		div.budget__container.container
			div.budget-line.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
			div.budget__container__inner
				div.budget__item.budget__item--first.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
					p.budget__item__text Первоначальных сборов на ICO
				div.budget__item.budget__item--second.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='150')
					p.budget__item__text Продажи гражданства и виз
				div.budget__item.budget__item--third.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='250')
					p.budget__item__text Лицензирования системы управления Республикой
				div.budget__item.budget__item--fourth.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='350')
					p.budget__item__text  Аренды недвижимости острова и земли
