mixin emission
	section.emission#emission
		h2.emission__title ЭМИССИЯ
		div.emission-container.container
			div.emission-container__half.emission-container__half--first
				div.emission-container__description.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150')
					div.emission-description-block
						div.emission-container__item
							span.emission-container__item__title Soft cap:
							span.emission-container__item__sub-title 100 BTC
							span.emission-container__item__description - Виртуальная Республика
						div.emission-container__item
							span.emission-container__item__title Middle cap:
							span.emission-container__item__sub-title 1000 BTC
							span.emission-container__item__description - Satoshi Nakаmoto City на Острове
						div.emission-container__item
							span.emission-container__item__title Hard cap:
							span.emission-container__item__sub-title
							span.emission-container__item__description - отсутствует


					div.emission-description-block.emission-description-block--second
						div.emission-container__item__part
							span.emission-container__item__part__title Pre-ICO эмиссия:
							span.emission-container__item__part__sub-title 10м токенов по цене
							span.emission-container__item__part__text-fiolet 0.0001 BTC

						div.emission-container__item__part
							span.emission-container__item__part__title ICO эмиссия:
							span.emission-container__item__part__sub-title Неограничена по цене
							span.emission-container__item__part__text-fiolet 0.001 BTC

						div.emission-container__item__part
							span.emission-container__item__part__title Дополнительная эмиссия Команде:
							span.emission-container__item__part__text-fiolet 10%
							span.emission-container__item__part__sub-title от общей эмиссии после завершения кампании

						div.emission-container__item__part
							span.emission-container__item__part__title Амбассадоры:
							span.emission-container__item__part__text-fiolet 10%
							span.emission-container__item__part__sub-title от общей эмиссии после завершения кампании

						div.emission-container__item__part
							span.emission-container__item__part__title Техническое ограничение количества токенов:
							span.emission-container__item__part__sub-title Общая эмиссия - будет известна по факту окончания кампании

			div.emission-container__half.emission-container__half--second
				img.economy-donate__image.aos-init.aos-animate(src='img/economy/economy-donate.png', data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150')
				ul.economy-donate__list.aos-init.aos-animate(data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='700', data-aos-offset='150')
					li.economy-donate__list__item - Team members 10%
					li.economy-donate__list__item - Ambassadors 10%
					li.economy-donate__list__item - Pre - ICO 10%
					li.economy-donate__list__item - ICO 70%