mixin firstvdbr()
	section.vdbr#vdbr
		div.container__vdbr.container
			h2 Создать первую Виртуальную Децентрализованную
				br
				|Блокчейн-Республику
		div.container__vdbr.container.container__vdbr--description

			div.container__vdbr__half.container__vdbr__half--left
				div.vdbr-item.aos-init.aos-animate(data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='500')
					img.vdbr-item__img(src='img/vdbr/vdbr-icon1.png')
					h3.vdbr-item__title.vdbr-item__title--first Управление республикой
					div.vdbr-item__description Создание новой модели управления республикой,
						|при которой все граждане имеют право голоса, которое фиксируется на блокчейне, что является гарантией невозможности фальсификаций.
			div.container__vdbr__half.container__vdbr__half--right
				div.vdbr-item.aos-init.aos-animate(data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='200')
					img.vdbr-item__img(src='img/vdbr/vdbr-icon2.png')
					h3.vdbr-item__title.vdbr-item__title--second Гражданство
					div.vdbr-item__description Каждый желающий может получить гражданство,
						|а также возможность в любое время посещать тропический остров и встречаться с другими членами сообщества в самой свободной Республике мира!


