mixin footer
	footer.footer
		.footer__wrap.container
			.footer__content.row
				a.header__logoBlock.logo(href='#')
					.logo-container.logo-container--white
						.logo-container__sn
							.logo-container__sn__satoshi SATOSHI
							.logo-container__sn__nakamoto NAKAMOTO
						.logo-container__foundation REPUBLIC
				.footer__socBlock
					span.footer__socText Мы в соц.сетях
					.footer__socWrap
						a.footer__socLink.footer__socLink_facebook(href='#')
	//.infoPanel
		.infoPanel__sectionLine.container
			.infoPanel__itemsWrap.row
				.infoPanel__items
					.infoPanel__infoItem__value
						.infoPanel__infoItem
							span.infoPanel__infoTitle Стоимость
							span.infoPanel__infoAmount 0.001 BTC = 1ST
						.infoPanel__infoItem
							span.infoPanel__infoTitle
							span.infoPanel__infoAmount  40.5 %
						.infoPanel__infoItem
							span.infoPanel__infoTitle Пожертвовали
							span.infoPanel__infoAmount  18
					a#donateBtn2.infoPanel__donateBtn(href='#') Участвовать
					a.infoPanel__whitepaperLink(href='') whitepaper
					.infoPanel_donateSoc
						a.infoPanel__donateSocLink.infoPanel__donateSocLink_facebook(href='')
						a.infoPanel__donateSocLink.infoPanel__donateSocLink_mail(href='mailto:satoshi.republic1@gmail.com')
							i.far.fa-envelope
						// <a href="" class="infoPanel__donateSocLink infoPanel__donateSocLink_linkedIn"></a>