mixin get-investor
	section.ambassadors.ambassadors--investor#get-investor
		img.ambassadors-circle-first.ambassadors-circle-first--investor(src='img/get-investor/get-investor-many.png')
		div.container__ambassadors.container.container__ambassadors--first
			h2 ЧТО ПОЛУЧИТ PRE-ICO ИНВЕСТОР?
		div.container__ambassadors.container.container__ambassadors--second

			div.ambassadors__rectangle.ambassadors__rectangle--investor
				div.ambassadors__rectangle__inner
			img.ambassadors-circle-second(src='img/ambassadors/ambassadors-circle.png')

			div.container__ambassadors__half.container__ambassadors__half--left
				div.ambassadors-item
					img.ambassadors-item__img(src='img/get-investor/get-invetor-item.png')
			div.container__ambassadors__half.container__ambassadors__half--right.container__ambassadors__half--right__investor

				div.ambassadors-item.ambassadors-item--description
					h3.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='0') Для Pre-ICO бэкера предусмотрены специальные условия:
					ul.ambassadors-item__list
						li.ambassadors-item__list__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='100') Satoshi Tokens по цене в 10 раз дешевле, чем они будут продаваться на ICO
						li.ambassadors-item__list__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='200') Получение статуса Крипто-Ангела города, если он первый купил токенов на сумму
						li.ambassadors-item__list__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='300') 1 BTC+ для установки памятника в своем городе
						li.ambassadors-item__list__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='400') Дополнительный статус Крипто-Ангела Республики, при покупке токенов 10 BTC+
