mixin header(date)
    div.button-ambassador-fixed
        a.button-ambassador-fixed-link(href='#') СТАТЬ AMBASSADOR
    div.navigation__popup
        div.navigation__popup__inner
            a.close-button(href='#')
                .in
                    .close-button-block
                    .close-button-block
                .out
                    .close-button-block
                    .close-button-block
            ul.navigation__popup__list
                li.navigation__popup__list__item
                    a.navigation__popup__link.pageScroller(href='#vdbr' data-scrollto="sec1" ) VDBR
                li.navigation__popup__list__item
                    a.navigation__popup__link.pageScroller(href='#ambassadors' data-scrollto="sec2" ) AMBASSADORS
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#become-ambassadors') КАК СТАТЬ AMBASSADOR?
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#benefit-ambassadors') ВЫГОДЫ AMBASSADORS
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#get-investor') ЧТО ПОЛУЧИТ PRE-ICO ИНВЕСТОР?
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#benefit-ambassadors') ВЫГОДЫ AMBASSADORS
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#emission') ЭМИССИЯ
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#monument-location')  ГДЕ БУДЕТ ПОСТРОЕН ПАМЯТНИК?
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#ico-many')  КУДА ПОЙДУТ ДЕНЬГИ ICO?
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#manage') КТО РАСПОРЯЖАЕТСЯ?
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#republic-manage') УПРАВЛЕНИЕ РЕСПУБЛИКОЙ
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#system-manage') СИСТЕМА УПРАВЛЕНИЯ РЕСПУБЛИКОЙ
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#roadmap') ДОРОЖНАЯ КАРТА
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#budget') БЮДЖЕТ
                li.navigation__popup__list__item
                    a.navigation__popup__link(href='#island') ОСТРОВ
    header.header
        .header__topPanel.container
            .header__contentWrap.row
                .header__content
                    button.header__menuBtn
                    a.header__logoBlock.logo(href='#')
                        .logo-container
                            .logo-container__sn
                                .logo-container__sn__satoshi SATOSHI
                                .logo-container__sn__nakamoto NAKAMOTO
                            .logo-container__foundation REPUBLIC
                    .header__navigationWrap.navigation
                        nav.navigation__nav

                            //ul#navigation.navigation__navMenu
                                li.navigation__navItem
                                    a.navigation__navItemLink(href='token_economy.php') ТОКЕН ЭКОНОМИКА
                                li.navigation__navItem
                                    a#aboutLink.navigation__navItemLink(href='#competition') О конкурсе
                                li.navigation__navItem
                                    a.navigation__navItemLink(href='#city') Рейтинг городов
                                li.navigation__navItem
                                    a.navigation__navItemLink(href='#backers') Рейтинг бэкеров
                                li.navigation__navItem
                                    a.navigation__navItemLink(href='#ambassadors')
                        a.become-ambassadors-button(href='#') СТАТЬ AMBASSADOR
                        .header__langBox
                            .header__selectedLang EN
                            ul.header__langList
                                li.header__langItem
                                    a.header__langLink(href='/ru') Ru
                                li.active
                                    a.header__langLink(href='/en') Eng
                        button.menu__Btn





            
            
        
