mixin ico-many
	section.ico-many#ico-many
		h2 КУДА ПОЙДУТ ДЕНЬГИ ICO?
		div.container.ico-many-container
			div.ico-many-container__inner
				div.ico-many-container__inner__half.ico-many-container__inner__half--first
					div.ico-many__item.ico-many__item--figure
						div.ico-many__item--figure__text.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150')
							h3 РАСПРЕДЕЛЕНИЕ СРЕДСТВ
							ul
								li
									span.ico-many__item-percent 50%
									span.ico-many__item-text от собранных средств поступает в бюджет Города на строительство памятника

								li
									span.ico-many__item-percent 50%
									span.ico-many__item-text от собранных средств поступает в бюджет Республики

				div.ico-many-container__inner__half.aos-init.aos-animate(data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150')
					div.ico-many__item.ico-many__item--description-first
						img.ico-many__item__image(src='img/ico-many/ico-many-icon1.png')
						div.ico-many__item__content
							h3 БЮДЖЕТ ГОРОДА
							ul
								li
									span.ico-many__item__content-percent 80%
									span.ico-many__item__content-text - строительство памятника
								li
									span.ico-many__item__content-percent  20%
									span.ico-many__item__content-text операционные расходы (празднования, конференции)
					div.ico-many__item.ico-many__item--description-second
						img.ico-many__item__image.ico-many__item__image--second(src='img/ico-many/ico-many-icon2.png')
						div.ico-many__item__content.ico-many__item__content--second
							h3 БЮДЖЕТ РЕСПУБЛИКИ
							ul
								li
									span.ico-many__item__content-percent  80%
									span.ico-many__item__content-text - от собранных средств - покупка острова  и строительство инфраструктуры (отель, магазины, бизнес-центр)

								li
									span.ico-many__item__content-percent  20%
									span.ico-many__item__content-text - от собранных средств - операционные расходы (работа Правительства и т.д. )
