mixin intro
    section.intro
        div.container__intro.container
            div.container__intro__half.container__intro__half--title
                h1.title-intro
                    | Satoshi
                    br
                    | Nakamoto
                    span.title-intro__text
                        br
                        | City

            div.container__intro__half.container__intro__half--description
                div.descriptio-intro__first
                    div.descriptio-intro__first__part.descriptio-intro__first__part--top
                        | Основать город на острове, который будет куплен на собранные в период ICO-компании средства от крипто-сообщества по всему миру
                    div.descriptio-intro__first__part.descriptio-intro__first__part--bottom
                        | Установить самый большой (реальный) памятник в столице, названной в честь Сатоши Накамото - Satoshi Nakamoto City
                div.descriptio-intro__second
                    div.map-decription
                        div.map-decription__title ИДЕЯ
                        div.map-decription__text установить реальные
                        div.map-decription__text и виртуальные памятники
                        div.map-decription__text-color САТОШИ НАКАМОТО
                        div.map-decription__text по всему миру
                    img.map-intro(src='img/section-intro/map-intro.png')





