mixin island

	section.satoshi-city#island
		h2.satoshi-city__title  остров
		div.satoshi-city__wrap.container

			ul
				li.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500')
					|Для строительства
					span Satoshi Nakamoto City
					|планируется покупка острова.
				li.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
					|Предварительно подобран ряд вариантов -
					a(href='') Ссылки
				li.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='250') Окончательное решение о выборе острова будет принято путем голосования Совета Основателей после завершения ICO кампании.
				li.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='350')
					|Для принятия решения понадобится
					span 8 из 12
					|голосов.
		h3.satoshi-city__sub-title.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500')  СЕЙЧАС МЫ РАССМАТРИВАЕМ БОЛЕЕ 10 ВАРИАНТОВ:
		div.satoshi-city__container.container
			div.satoshi-city__firstSection.row
				div.satoshi-city-img-container
					div.satoshi-city__image-block.satoshi-city__image-block--first
						img.satoshi-city__image(src='http://satoshirepublic.org/img/SNC/islend-1-min.jpg')
					div.satoshi-city__image-block.satoshi-city__image-block--second
						img.satoshi-city__image(src='http://satoshirepublic.org/img/SNC/islend-2-min.jpg')
			div.satoshi-city__infoBlock.row
				div.satoshi-city-description-container.aos-init(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-delay='600', data-aos-offset='150')
					p.satoshi-city-description__content
						| Памятники будут установлены в городах, собравших достаточно средств. Самый большой памятник будет возведен на острове в столице Satoshi Nakamoto City.
