mixin manage
	section.manage#manage
		h2 КТО РАСПОРЯЖАЕТСЯ?
		div.manage-container.container
			div.manage-container__inner
				div.manage-container__item.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150')
					div.manage-container__item__number
						div.manage-container__number 1
						div.manage-container__number-text  этап
					div.manage-container__item__title PRE ICO
					div.manage-container__item__description На этапе проведения pre ICO деньгами распоряжаются первые Основатели 2 подписи из 3
				div.manage-container__item.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150' data-aos-delay="100")
					div.manage-container__item__number
						div.manage-container__number 2
						div.manage-container__number-text  этап
					div.manage-container__item__title СОЗДАНИЕ  РЕСПУБЛИКИ
					div.manage-container__item__description На этапе создания Республики (после проведения ICO и до момента формирования первого Правительства деньгами распоряжается Совет Основателей (7 из 12 подписей)
				div.manage-container__item.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150' data-aos-delay="200")
					div.manage-container__item__number
						div.manage-container__number 3
						div.manage-container__number-text  этап
					div.manage-container__item__title УПРАВЛЕНИЕ РЕСПУБЛИКОЙ
					div.manage-container__item__description На этапе управления Республикой деньгами распоряжается Правительство, сформированное в процессе выборов