mixin republic-manage
	section.republic-manage#republic-manage
		h2.republic-manage__title УПРАВЛЕНИЯ РЕСПУБЛИКОЙ
		h3.republic-manage__sub-title Кто будет управлять?
		div.republic-manage__container.container
			div.republic-manage__container__inner
				div.republic-manage__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
					div.republic-manage__item__header
						span.republic-manage__item__title Граждане
						img.republic-manage__item__icon(src='img/republic-manage/republic-manage-icon.png')
					img.republic-manage__item__image(src='img/republic-manage/republic-manage-item1.png')
					div.republic-manage__item__hover
						ul
							li Голосуют по всем законам, которые выносит на рассмотрение Конгресс
							li Голосуют по всем инициативам, которые набрали более 1 тыс. голосов (или вопрос тогда идет на рассмотрение конгресса/правительства)

				div.republic-manage__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='150')
					div.republic-manage__item__header
						span.republic-manage__item__title AMBASSADOR
						img.republic-manage__item__icon(src='img/republic-manage/republic-manage-icon.png')
					img.republic-manage__item__image(src='img/republic-manage/republic-manage-item2.png')
					div.republic-manage__item__hover
						ul
							li Представлять интересы республики в своем городе
							li Проводить кампанию по сбору средств
							li Строить и открывать памятник
							li Получить статус Основателя (только 10 Амбассадоров)
							//li Войти в Совет Основателей (только 10 Амбассадоров)
							//li Открыть посольство - выдавать гражданство, получать часть прибыли от совершения представительских функций
							li Участвовать в органах управления и возможность быть выбранным Конгрессменом
							li Продление Статуса

				div.republic-manage__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='250')
					div.republic-manage__item__header
						span.republic-manage__item__title ОСНОВАТЕЛИ
						img.republic-manage__item__icon(src='img/republic-manage/republic-manage-icon.png')
					img.republic-manage__item__image(src='img/republic-manage/republic-manage-item3.png')
					div.republic-manage__item__hover
						ul
							li Формируют Совет Основателей
							li Совет Основателей формирует принципы управления Республикой
							li Совет Основателей управляет до избрания Первого Правительства
							li После этого Совет Основателей теряет свои полномочия

				div.republic-manage__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='350')
					div.republic-manage__item__header
						span.republic-manage__item__title КОНГРЕСС
						img.republic-manage__item__icon(src='img/republic-manage/republic-manage-icon.png')
					img.republic-manage__item__image(src='img/republic-manage/republic-manage-item4.png')
					div.republic-manage__item__hover
						ul
							li Принципы работы Конгресса и его полномочия будут сформированы Советом основателей
							li Формируется из 1 представителя от каждой страны
							li Принимать законы в первом чтении
							li Выносить на утверждение сообщества

				div.republic-manage__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
					div.republic-manage__item__header
						span.republic-manage__item__title КАБИНЕТ МИНИСТРОВ
						img.republic-manage__item__icon(src='img/republic-manage/republic-manage-icon.png')
					img.republic-manage__item__image(src='img/republic-manage/republic-manage-item5.png')
					div.republic-manage__item__hover
						ul
							li Решает вопросы операционной деятельности
							li Готовит Законопроекты на утверждение Конгресса и Граждан

				div.republic-manage__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='150')
					div.republic-manage__item__header
						span.republic-manage__item__title ПРЕМЬЕР
						img.republic-manage__item__icon(src='img/republic-manage/republic-manage-icon.png')
					img.republic-manage__item__image(src='img/republic-manage/republic-manage-item6.png')
					div.republic-manage__item__hover
						ul
							li Представительские функции

				div.republic-manage__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='250')
					div.republic-manage__item__header
						span.republic-manage__item__title ПОЧЕТНЫЙ ПРЕЗИДЕНТ
						img.republic-manage__item__icon(src='img/republic-manage/republic-manage-icon.png')
					img.republic-manage__item__image(src='img/republic-manage/republic-manage-item7.png')
					div.republic-manage__item__hover
						ul
							li SATOSHI NAKAMOTO

				div.republic-manage__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='350')
					div.republic-manage__item__header
						span.republic-manage__item__title Граждане
						img.republic-manage__item__icon(src='img/republic-manage/republic-manage-icon.png')
					img.republic-manage__item__image(src='img/republic-manage/republic-manage-item8.png')
					div.republic-manage__item__hover
						ul
							li Принципы работы будут сформированы Советом Основателей или Правительством и утверждаться Гражданами

