mixin roadmap
	.roadmap#roadmap
		h2.roadmap__title.h2 ДОРОЖНАЯ КАРТА
		.roadmap__wrap.container
			.roadmap__content.row
				.roadmap__items.roadmap__items--first
					.roadmap__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='100')
						.roadmap__itemInfo.roadmap__itemInfo--tenth
							span.roadmap__itemDate.roadmap__itemDate--tenth 15 АПРЕЛЯ 2018
							span.roadmap__itemStage.roadmap__itemStage--tenth PRE-ICO
					.roadmap__item.aos-init.aos-animate(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='300')
						.roadmap__itemInfo.roadmap__itemInfo--eleventh
							span.roadmap__itemDate.roadmap__itemDate--eleventh 15 МАЯ 2018
							span.roadmap__itemStage.roadmap__itemStage--eleventh Формирование Совета Основателей
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='600')
						.roadmap__itemInfo.roadmap__itemInfo--twelveth
							span.roadmap__itemDate.roadmap__itemDate--twelveth  1 ИЮЛЯ 2018
							span.roadmap__itemStage.roadmap__itemStage--twelveth Подготовка ICO-кампании
				.roadmap__items.roadmap__items--second
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='600')
						.roadmap__itemInfo.roadmap__itemInfo--third
							span.roadmap__itemDate.roadmap__itemDate--third 1 ЯНВАРЯ 2019
							// <img src='img/road-icon/road-icon-3.png' class='road-icon--third'>
							span.roadmap__itemStage.roadmap__itemStage--third Статусы
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='300')
						.roadmap__itemInfo.roadmap__itemInfo--second
							span.roadmap__itemDate.roadmap__itemDate--second 1 СЕНТЯБРЯ 2018
							// <img src='img/road-icon/road-icon-2.png' class='road-icon--second'>
							span.roadmap__itemStage.roadmap__itemStage--second Эмиссия Satoshi Tokens
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='100')
						.roadmap__itemInfo.roadmap__itemInfo--first
							span.roadmap__itemDate.roadmap__itemDate--first  1 АВГУСТА 2018
							span.roadmap__itemStage.roadmap__itemStage--first ICO
				.roadmap__items.roadmap__items--thirdth
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='100')
						.roadmap__itemInfo.roadmap__itemInfo--fourth
							span.roadmap__itemDate.roadmap__itemDate--fourth 1 ФЕВРАЛЯ 2019
							// <img src='img/road-icon/road-icon-6.png' class='road-icon--six'>
							span.roadmap__itemStage.roadmap__itemStage--fourth Покупка острова
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='300')
						.roadmap__itemInfo.roadmap__itemInfo--fivth
							span.roadmap__itemDate.roadmap__itemDate--fivth 1 МАРТА 2019
							// <img src='img/road-icon/road-icon-5.png' class='road-icon--fiveth'>
							span.roadmap__itemStage.roadmap__itemStage--fivth Установка памятников
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='600')
						.roadmap__itemInfo.roadmap__itemInfo--six
							span.roadmap__itemDate.roadmap__itemDate--six 1 ИЮНЯ 2019
							// <img src='img/road-icon/road-icon-4.png' class='road-icon--fourth'>
							span.roadmap__itemStage.roadmap__itemStage--six Разработка системы управления Республикой
				.roadmap__items.roadmap__items--fourth
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='100')
						.roadmap__itemInfo.roadmap__itemInfo--nineth
							span.roadmap__itemDate.roadmap__itemDate--nineth
								// 1 ОКТЯБРЯ 2019
							// <img src='img/road-icon/road-icon-4.png' class='road-icon--fourth'>
							span.roadmap__itemStage.roadmap__itemStage--nineth
								// Разрешен свободный въезд для граждан республики
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='300')
						.roadmap__itemInfo.roadmap__itemInfo--eighth
							span.roadmap__itemDate.roadmap__itemDate--eighth 1 СЕНТЯБРЯ 2019
							span.roadmap__itemStage.roadmap__itemStage--eighth Формирование Правительства
					.roadmap__item.aos-init(data-aos='fade-in', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150', data-aos-delay='600')
						.roadmap__itemInfo.roadmap__itemInfo--seventh
							span.roadmap__itemDate.roadmap__itemDate--seventh 1 АВГУСТА 2019
							span.roadmap__itemStage.roadmap__itemStage--seventh Первые выборы
