mixin system-manage
	section.system-manage#system-manage
		h2.system-manage__title.title-whte СИСТЕМА УПРАВЛЕНИЯ РЕСПУБЛИКОЙ
		h3.system-manage__subtitle.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150' )
			|Для инновационной модели управления Республикой
			br
			| понадобится разработать ряд программных решений,

		p.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150' ) которые впоследствии смогут использовать другие государства.
		div.system-manage__container.container
			h3.system-manage__container-title.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150' ) Такими блоками будут:
			div.system-manage__inner
				div.system-manage__item.system-manage__item--first.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150' )
					img.system-manage__item__image(src='img/system-manage/system-manage-icon1.png')
					div.system-manage__item__description
						|Система голосования и
						br
						|подачи петиций
				div.system-manage__item.system-manage__item--second.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150' data-aos-delay="100")
					img.system-manage__item__image(src='img/system-manage/system-manage-icon2.png')
					div.system-manage__item__description
						| Система управления и
						br
						| распределения бюджета
				div.system-manage__item.system-manage__item--third.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='600', data-aos-offset='150' data-aos-delay="200")
					img.system-manage__item__image(src='img/system-manage/system-manage-icon3.png')
					div.system-manage__item__description
						| Продажа недвижимости с
						br
						| подтверждением в блокчейне