mixin tocen-economy
	section.tocen-economy
		h2.title-whte ВЫГОДЫ AMBASSADORS
		div.container__tocen-economy.container
			div.container__tocen-economy__inner.container__tocen-economy__inner--first

				div.tocen-economy__inner__content.tocen-economy__inner__content--first-top
					h3
						|Как будет
						br
						|меняться цена?
					p Платежи за получение гражданства или других видов услуг, поступающие на счет Республики, частично сгорают по следующему алгоритму:
					img.tocen-economy__threangle(src='img/tocen-economy/tocen-economy-threeangle.png')

				div.tocen-economy__inner__content.tocen-economy__inner__content--first-bottom
					ul.te-fb-lsit
						li.te-fb-list__item
							span.list-persent.list-persent--first 50%
							span.list-persent-text - В первый год
						li.te-fb-list__item
							span.list-persent.list-persent--second 25%
							span.list-persent-text - ВО второй год
						li.te-fb-list__item
							span.list-persent.list-persent--third 10%
							span.list-persent-text - с третьего года
						li.te-fb-list__item
							span.list-persent.list-persent--fourth 1%
							span.list-persent-text - далее

					div.te-fb__description
						span.te-fb__description__star *
						span.te-fb__description__text Не сгоревшие токены первый год сохраняются на счетах Республики до принятия бюджета

			div.container__tocen-economy__inner.container__tocen-economy__inner--second
				div.tocen-economy__inner__content.tocen-economy__inner__content--second
					img.img-economy-secon(src='img/tocen-economy/tocen-economy-icon.png')
					h3 ЗАЧЕМ НУЖЕН ТОКЕН?
					p.text
						|Для того чтобы стать гражданином
						br
						|республики, необходимо
						br
						|приобрести паспорт стоимостью
						br
						span 100 Satoshi Tokens.


			div.container__tocen-economy__inner.container__tocen-economy__inner--third
				div.tocen-economy__inner__content.tocen-economy__inner__content--third-top

					h3.h3-third-top
						| Кроме того, Правительство
						br
						| сможет взимать плату за
						br
						| дополнительные услуги в
						br
						|Satoshi Tokens, такие как:
					img.img-third-top(src='img/tocen-economy/tocen-economy-threeangle.png')
				div.tocen-economy__inner__content.tocen-economy__inner__content--third-bottom
					ul
						li
							|Получение визы для
							br
							|нерезидентов Республики
						li
							| Аренда земли под
							br
							| строительство
						li
							| Открытие новых Посольств
							br
							| после проведения ICO
						li
							| Лицензирование системы
							br
							| управления Республикой
